    body {
	height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14pt;
    font-family: "Arial";
    } 

    .layout{
        margin:10px;
        margin-top: 20px;
        border-radius: 25px;
        padding: 10px;
        background-color: rgb(223, 223, 223);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .ulnav {
        list-style-type: none;
        margin: 10px;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(148, 148, 148);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }

    .linav {
        text-align: center;
        float: left;
        border-right: 1px solid #bbb;
        
    }
    
    li.linav a{
        -webkit-transition:  background-color 0.7s;
        transition: background-color 0.7s;
        transition-timing-function: ease;
        width:200px;
        display: block;
        color: white;
        padding: 14px 20px; 
        text-decoration: none;
    }
    
    li.linav a:hover {
        background-color: black;
      
    } 

   .imgzv{
      height:250px;
 
   }

   .indexfoto{
       float: right;
   }


   .hzicon{
       height:50px;
   }

   .active{
       background-color: rgb(61, 61, 61)
   }

   #snapchat{
       height: 200px;
       float:left;
       border-radius: 25px;       
   }

   .dasboard{
     overflow:auto;  
     font-size: 25px;
     padding:100px;
     margin:20px;
     
    
   }


   .social{
       border-radius: 53px;
       width: 200px;
       margin-left:20px;
       margin-right:20px;
   }




   #customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(100, 100, 100);
    color: white;
}
.table{
    width:70%;
}
.sites a{
    color :rgb(0, 0, 0);
}






   



   
   
  